.playlist{
  display: flex;
  flex-direction: column;
}
.playlist_cover{
  width: 160px;
  margin-top: 10px;
  border-radius: 20px;
  cursor: pointer;
  height: 160px;
}
.playlist_wrapper2{
  width: 175px;
  height: 220px;
  background-color: #343434;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-top: 15px;
  -webkit-box-shadow: -4px 4px 8px 0px rgba(20, 20, 20, 0.2);
  -moz-box-shadow: -4px 4px 8px 0px rgba(20, 20, 20, 0.2);
  box-shadow: -4px 4px 8px 0px rgba(20, 20, 20, 0.2);
}
.main_major_block{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main_description_block{
  display: flex;
  flex-direction: column;
}
.playlist_multiply{
  margin-left: 10px;
}