.scroll_box{
  margin-left: 400px;
  background-color: #222222;
  border-radius: 20px;
  overflow-y: auto;
}
.side_bar_button{




  margin-left: 18px;
  margin-top: 10px;
  font-weight: 700;
  color: #F4B886;
  margin-bottom: 10px;
}